In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data/product_demand.csv').dropna()
df['Date'] = pd.to_datetime(df['Date'])
df.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27         100
1  Product_0979    Whse_J     Category_028 2012-01-19         500
2  Product_0979    Whse_J     Category_028 2012-02-03         500
3  Product_0979    Whse_J     Category_028 2012-02-09         500
4  Product_0979    Whse_J     Category_028 2012-03-02         500

In [ ]:
# total demand of all warehouses over time (line graph)
# find product in multiple warehouses (pie graph)
# total demand of some specific products over time (line graph)